<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblite.webmanasystem.mapper.SignDetailMapper">
  <resultMap id="BaseResultMap" type="com.weblite.webmanasystem.domain.entity.SignDetail">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, u_id, sign_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sign_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sign_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weblite.webmanasystem.domain.entity.SignDetail">
    <!--@mbg.generated-->
    insert into sign_detail (id, u_id, sign_time
      )
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weblite.webmanasystem.domain.entity.SignDetail">
    <!--@mbg.generated-->
    insert into sign_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weblite.webmanasystem.domain.entity.SignDetail">
    <!--@mbg.generated-->
    update sign_detail
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weblite.webmanasystem.domain.entity.SignDetail">
    <!--@mbg.generated-->
    update sign_detail
    set u_id = #{uId,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAllSelective" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sign_detail
    where 1=1
    <if test="signDetail.id != null"> and id=#{signDetail.id}</if>
    <if test="signDetail.uId != null"> and u_id=#{signDetail.uId}</if>
    <if test="signDetail.signTime != null"> and sign_time=#{signDetail.signTime}</if>
    limit #{page},#{pageSize};
  </select>
  <select id="selectCountBySelective" resultType="java.lang.Integer">
    select count(1)
    from  sign_detail
    where 1=1
    <if test="signDetail.id != null"> and id=#{signDetail.id}</if>
    <if test="signDetail.uId != null"> and u_id=#{signDetail.uId}</if>
    <if test="signDetail.signTime != null"> and sign_time=#{signDetail.signTime}</if>
  </select>
</mapper>